<p id="notice"><%= notice %></p>

<h1>Contracts</h1>

<table>
  <thead>
    <tr>
      <th>Yearly premium</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.yearly_premium %></td>
        <td><%= link_to 'Properties', user_contract_properties_path(@user, contract) %></td>
        <td><%= link_to 'Show', user_contract_path(@user, contract) %></td>
        <td><%= link_to 'Edit', edit_user_contract_path(@user, contract) %></td>
        <td><%= link_to 'Destroy', user_contract_path(@user, contract), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contract', new_user_contract_path %>
<br>
<%= link_to 'Users', users_path %>
