<p id="notice"><%= notice %></p>

<p>
  <strong>Theft coverage:</strong>
  <%= @contract.theft_coverage %>
</p>

<p>
  <strong>Deductible:</strong>
  <%= @contract.deductible %>
</p>

<%= link_to 'Edit', edit_user_contract_path(@contract) %> |
<%= link_to 'Back', user_contracts_path %>
